## Backup files
*~
*~.nib
*~.xib
\#*#
.#*

## Build generated
build/
DerivedData/

## CocoaPods
Pods/
*.xcworkspace
Podfile.lock

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Other
*.moved-aside
*.xcuserstate
*.xccheckout
*.xcuserdata
*.DS_Store

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3